.greentext {
  color: green;
}
#maintitle {
 text-decoration:
 underline;
 color: blue;
 font-family: 'Anton', sans-serif;
}
a {
  color: brown;
  text-decoration: none
}
a:hover {
text-decoration: underline;
}
a:visited { }
